// Typefaces
$typeface-sans:  "freight-sans-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$typeface-serif: "jubilat", Georgia, Cambria, "Times New Roman", Times, serif;
$typeface-script: "corner-store", Georgia, Cambria, "Times New Roman", Times, serif;

body {
  @include media($breakpoint-desktop) {
    font-size: 125%;
  }
}

p, a, h1, h2, h3, h4, h5, label {
  font-family: inherit;
  line-height: 1.5;
}

h1 {
  font-family: $typeface-sans;
  text-transform: uppercase;
}

h4 {
  margin-top: 0.5em;
  font-family: $typeface-sans;
  text-transform: uppercase;
}

h6 {
  font-family: $typeface-sans;
  font-style: normal;
  font-weight: 300;
}

p {
  line-height: 1.25;
  margin-bottom: .75em;
}
