- title ["Page Not Found (404)"]

.mod-logo
  %a{ href: "/" }
    = image_tag "error-logo.png", alt: "DISH Student Design Conference", title: "DISH Student Design Conference"

%h1 Page Not Found
%p The page you were looking for does not exist. Try the #{link_to 'home page', '/'}.
