// Event Schedule
.mod-events {
  td {
    vertical-align: top;
    padding: 0.25em;
    border: none;
  }

  .label {
    font-size: 0.75em;
    font-style: italic;
  }

  .time {
    padding-left: 0;
    font-weight: bold;
    text-align: right;
    white-space: nowrap;
  }

  .title {
    padding-right: 0;
  }
}
